<app-content-body [title]="title" [subTitle]="subTitle">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="business">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>business</th>
        <td mat-cell *matCellDef="let element">{{ element.business }}</td>
      </ng-container>

      <ng-container matColumnDef="valuation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>valuation</th>
        <td mat-cell *matCellDef="let element">{{ element.valuation }}</td>
      </ng-container>

      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>active</th>
        <td mat-cell *matCellDef="let element">{{ element.active }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      fixed
      [pageSizeOptions]="[4, 8, 12]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</app-content-body>
