<!-- This is the HEADER, where show at each page -->
<section>
  <div>
    <div class="logo">
      <img src="{{ imagePath }}" />
    </div>
    <div class="profile-detail">
      <p class="strong-text">PT</p>
      <mat-divider class="material-devider" [vertical]="true"></mat-divider>
      <span class="comum-text">
        <img class="avatar" src="{{ avatar }}" alt="avatar" />
      </span>
      <span>
        <p class="strong-text">John Doe</p>
        <p class="comum-text">Diretor itaú BBA</p>
      </span>
      <span class="comum-text">
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >expand_more</mat-icon
        >
      </span>
    </div>
  </div>
</section>
