<form [formGroup]="form">
  <h3>Detalhes do Endereço</h3>
  <div>
    <mat-form-field appearance="outline">
      <mat-label i18n="Value from cep@@cepCep">cep</mat-label>
      <input
        matInput
        placeholder="cep"
        formControlName="cep"
        mask="99999-999"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label i18n="Value from street@@cepStreet">street</mat-label>
      <input matInput placeholder="street" formControlName="street" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label i18n="Value from district@@cepDistrict">district</mat-label>
      <input matInput placeholder="neighborhood" formControlName="neighborhood" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label i18n="Value from state@@cepState">state</mat-label>
      <input matInput placeholder="state" formControlName="state" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label i18n="Value from city@@cepCity">city</mat-label>
      <input matInput placeholder="city" formControlName="city" />
    </mat-form-field>
  </div>
</form>
