<form [formGroup]="form">
  <h3>Detalhes do Endereço</h3>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>cep</mat-label>
      <input
        matInput
        placeholder="cep"
        formControlName="cep"
        mask="99999-999"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>street</mat-label>
      <input matInput placeholder="street" formControlName="street" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>district</mat-label>
      <input matInput placeholder="neighborhood" formControlName="neighborhood" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>state</mat-label>
      <input matInput placeholder="state" formControlName="state" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>city</mat-label>
      <input matInput placeholder="city" formControlName="city" />
    </mat-form-field>
  </div>
</form>
