div
  display: grid
  grid-template-rows: 15vh 72.5vh
  grid-template-columns: 168fr 1506fr 146fr
  grid-template-areas: ". body ." ".content ."

app-title
  grid-area: body

div > div
  grid-area: content
