div
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: 12.5vh 87.5vh
  grid-template-areas: "header header" "main main"

app-header
  grid-area: header

section
  grid-area: main
  background-color: #fbfbfb

